body{
    margin: 0;
    padding: 0;
    background-image: url(../images/3.JPG);
    background-size: 100%;
    background-position: center;
}

.box{
    width: 300px;
    padding: 40px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[name= "userName"],.box input[name="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 12px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[name= "vcode"]{
    border: 0;
    background: none;
    display: inline-block;
    margin: 12px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 12px 10px;
    width: 90px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[name= "userName"]:focus,.box input[type="password"]:focus{
    width: 240px;
    border-color: #2ecc71;
}
.box input[type= "button"]{
    border: 0;
    background: none;
    display: block;
    margin: 12px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.error{
    color: red;
    font-size: 15px;
}
#checkError{
    color: red;
    font-size: 15px;
}
#vcodeImg{
    cursor: pointer;
    position: relative;
    top: 10px;
}
#cookie{
    color:tomato;
}